body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header { border-bottom: 1px solid #e5e5e5; }

.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container { max-width: 730px; }

thead { font-weight: bold; }

.bug a { display: block; }

.resolved { text-decoration: line-through; }

.new-bug {
  padding-bottom: 30px;
  border-bottom: 1px solid #E5E5E5;
}

.new-bug input {
  box-sizing: border-box;
  padding: 5px;
  width: 15%;
}

.new-bug input[type='text'] {
  width: 83%;
  margin-right: 5px;
}

.bug-details .field { margin-bottom: 20px; }

.bug-details label {
  width: 70px;
  text-align: right;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.bug-details input { display: inline-block; }

.bug-details input,
.bug-details textarea { padding: 3px 6px; }

.bug-details input[type='text'],
.bug-details textarea { width: 615px; }

.bug-details textarea { height: 100px; }